<html><head>
    <title><%= codeMessage %></title>
    <body style="text-align:center;font-family:serif">
    <h1><%= codeMessage %></h1>
    <%= message %>
    <hr>
    <a href="/index" rel="noopener noreferer">All codes</a>
    <aside style="position:fixed;bottom:0;right:0;padding:1rem;">
        <a href="https://www.twitter.com/sudocaffeine" rel="noopener noreferer" target="_blank">developer</a>
    </aside>
</body></html>
